$siteBackgroundColor: #6aa6; // Light blue from the logo.
$textColor: #3b3b3b; // Dark color from the leaves.
$titleColor: #1d1d1d; // Black from the text.
$accentColor: #4aa0a0; // Blue from the leaves.
$navColor: #7fbf7f; // Greenish color for navigation.

